{% extends 'BloggistPostWebBundle::layout.html.twig' %}

{% block meta_tags %}
    {{ 'meta_tags'|area(subject) }}
{% endblock %}

{% block content %}
    {% for p in posts %}
        {{ p|raw }}
    {% endfor %}
{% endblock %}