form.post label {
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

form.post input[type=text] {
    width: 600px;
}

form.post textarea {
    width: 600px;
    height: 100px;
}

textarea#article_content {
    height: 400px;
}