<div class="social-widget">
    {% if hasPermalink %}
        <div class="permalink">
            <a href="{{ url }}">{{ 'social.permalink'|trans }}</a>
            <a href="{{ url }}#comments">{{ 'social.comment'|trans }}
                (<fb:comments-count href="{{ url }}"></fb:comments-count>)
            </a>
        </div>
    {% endif %}

    <div class="fb-like"
         data-href="{{ url }}"
         data-send="true"
         data-layout="{{ layout }}"
         data-width="{{ width }}"
         data-show-faces="{{ showFaces }}"
         data-colorscheme="{{ colorscheme }}">
    </div>
</div>