@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/ubuntu/Ubuntu-L.ttf');
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/sanchez/Sanchezregular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/fonts/jura/Jura-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  background: #eee;
  font-size: 14px;
}

* {
 padding: 0;
 margin: 0;
 color: #444;
 font-family: Georgia, Verdana, Arial, serif;
 text-decoration: none;
}

a {
    color: #000;
}

a:hover {
    color: #222299;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a {
	font-family: 'Jura', Georgia, Verdana, Arial, serif;
}

#outer-box {
    width: 980px;
    margin: 0 auto;
    background: black;
    box-shadow: 0px 0px 15px #444;
}

#header {
    width: 980px;
    margin: 0 auto;
    background: #49555F;
}

#header h1 {
	color: white;
	font-size: 3em;
	padding: 15px 0px 0px 20px;
}

#top {
    width: 980px;
    height: 250px;
    margin: 0 auto;
    background: #3A4149;
}

#container {
    width: 980px;
    margin: 0 auto;
    background: white;
    overflow: auto;
}

div.post h2, div.post h2 a, div.post h3, div.post h3 a {
    color: #CC3333;
}

#sidebar {
	min-height: 300px;
	display: block;
	float: right;
	width: 250px;
}

#main {
	float: left;
	min-height: 300px;
	width: 670px;
	margin: 0 10px 20px;
}

.post {
    border-bottom: 1px solid #aaa;
    margin: 30px 20px;
}

.article-post .timestamp {
    color: #777;
    font-size: small;
}

.article-post h2 {
    font-size: 1.8em;
    margin: 0.2em 0 0.5em;    
}

.article-post h3 {
    font-size: 1.2em;
    margin: 0.8em 0 0;
}

.article-post p {
	margin: 0.5em 0;
	line-height: 1.5em;
}

.article-post figure, .media-post figure {
	margin: 0 auto;
}

.media-post {
    padding-bottom: 20px;
}

.media-post figure {
    padding: 0;
    background: black;
}

.article-post figure {
    padding: 5px 0;
}

.post figure figcaption {
    margin: 0;
    padding: 4px;
    min-height: 20px;
}

.media-post figure figcaption span.caption {
    font-size: 0.9em;
    font-family: Arial;
    color: #aaa;
}

.article-post figure img, .media-post figure img {
	width: 630px;
	padding: 0;
	display: block;
}

.article-post a.read-more {
    display: block;
}

.article-post .permalink {
    float: right;
    padding-top: 2px;
}

.article-post .permalink a {
    margin: 0 5px;
    font-size: 11px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    border-bottom: 1px dotted #999;
}

.article-post .social-widget {
    margin: 20px 0 15px;
    height: 20px;
    padding: 0;
}

.media-post .social-widget {
    height: 20px;
    padding: 0;
    float: right;
}