<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#
                  blog: http://ogp.me/ns/blog#">
        <title>zwyprawy.pl</title>
        <meta charset="utf-8">
        {% block meta_tags %}{% endblock %}
        {% stylesheets '@BloggistPostWebBundle/Resources/public/css/modern_template.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    <!-- <script src="script.js"></script> -->
    </head>
    <body>
    {{ 'after_body_open'|area }}
        <div id="outer-box">
            <div id="header">
                <h1><a href="{{ path('bloggist_postweb_index') }}">zwyprawy.pl</a></h1>
            </div>
            <div id="top">
            </div>
            <div id="container">
                <div id="sidebar">
                    {{ 'sidebar'|area }}
                </div>
                <div id="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    {{ 'before_body_close'|area }}
    </body>
</html>